<!DOCTYPE html>
<html>
<head>
    <title>Create New User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<%- include('../components/navbar') %>
<div class="container">
    <h1>Create New User</h1>
    <div id="alertBox" class="alert alert-danger" style="display: none;"></div>
    <form id="createUserForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">accountId</label>
            <input type="email" class="form-control" id="accountId" name="accountId" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="button" class="btn btn-primary" onclick="createUser()">Create User</button>
    </form>
</div>
<script>
    function createUser() {
        let name = document.querySelector('#name')
        let accountId = document.querySelector('#accountId')
        let phone = document.querySelector('#phone')
        let password = document.querySelector('#password')

        fetch('/api/users', {
            method: 'POST',
            body: JSON.stringify({
                name: name.value,
                accountId: accountId.value,
                phone: phone.value,
                password: password.value
            }),
            headers:{
                'Content-Type':'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/users';
                } else {
                    response.text().then(data => {
                        const alertBox = document.getElementById('alertBox');
                        alertBox.innerText = data;
                        alertBox.style.display = 'block';
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>
