<!DOCTYPE html>
<html>
<head>
    <title>Slett bruker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<%- include('../components/navbar') %>
<div class="container">
    <h1>Slett bruker</h1>
    <p>Er du sikker på at du vil slette denne brukeren?</p>
    <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Slett</button>
        <a href="/users" class="btn btn-primary">Avbrytt</a>
    </form>
</div>
</body>
</html>
